body{
  background-color: black;  
}
h1{
  color: white;
  background-color: blue;
  text-align: center;
  text-decoration: solid;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic ;
  font-size: 60px ;
  margin: 100px auto;
}

h2{
  color: white;
  text-align: center;
  text-decoration: solid;
  line-height: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic ;
  font-size: 54px ;
  margin: 100px auto;
}

h3{
  color: white;
  text-align: center;
  line-height: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic ;
  font-size: 45px ;
  border: 2px solid white;
  margin: 150px auto;
}

h4{
  color: white;
  text-align: Left;
  text-decoration: underline;
  text-decoration-color:white;
  line-height: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic ;
  font-size: 45px ;

}
p{
    color: slategray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px ;
    letter-spacing: 3px;
    line-height: 60px;
}

a{
  color: blue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px ;
}
div{
text-align: center;
}

@media screen and (max-width:960px) {
.column{
flex: 25%;
}
}

@media screen and (max-width:760px){
.column{
flex: 50%;
}
}

@media screen and (max-width:480px){
.column{
flex: 100%;
}
}

@media screen and (max-width:320px){
  .column{
  flex: 100%;
  }
  }